.product-list{
    margin: 0;
    width: 100%;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 4rem;
}